* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:41px;
}

a {
    text-decoration: none;
    color:rgb(250, 250, 250);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
}


.screen {
    display: flex ;
    height:100vh;
    justify-content: space-between;
}

.lefside {
    display: flex;
    justify-content: center;
    align-items: center;
}


.leftside img {
    max-width: 560px;
    height: auto;
    
}

.rightside {
 
    background: linear-gradient(150deg, rgb(245, 76, 104), rgb(112, 4, 36));
    padding:50px;
    width: 50%;
   
}

.rightside label {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    color: White;
}

.rightside input {
    margin-top:5px;
    border:1px solid #999;
    border-radius: 7px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border: rgb(250, 250, 250) 2px solid;
    
   
}

.rightside input[type="submit"]  {
    cursor:pointer;
    font-weight: 700;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 20px;
    color:white;
}

@media (max-width: 1010px) {
    .screen {
        display:block;
    }

    .rightside {
        width:100%;
        
    }


@media (max-width: 563px){
    .rightside {
        min-width: 500px;
    }

    .leftside img{
        width: 400px;
    }
}

    

}